<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bbettercalendar">

    <application
        android:name=".database.DBMigration"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeChatGPTBlue"
        tools:targetApi="33">
        <activity
            android:name=".configuration.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".calendarEntries.AddEventActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name=".ui.home.HomeForegroundService" />
    </application>

    <!-- Añadir el permiso de servicio en primer plano -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>